<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Page</title>
  </head>
  <body>
    <h1>Welcome {{username}}</h1>

    <form class="logout" action="/logout" method="post">
      <button type="submit">Log Out</button>
    </form>
  </body>
</html>
